<!----------tabs------------>
<div class="tab-cards">
    <div class="row gy-3">
        <div class="col-xl-3 col-lg-6 col-md-12">
            <div class="card " routerLink="/admin/add-user">
                <p>Add a New User</p>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12">
            <div class="card " routerLink="/admin/bulk-users-import">
                <p>Bulk User Import/Update</p>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12">
            <div class="card" routerLink="/admin/access-management">
                <p>Access Rights Management</p>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12">
            <div class="card active" routerLink="/admin/users-list">
                <p>Users Lists</p>
            </div>
        </div>
    </div>
  </div>
  <div class="dashboard-form">
</div>