                  <div class="row">
                      <!-- Personal Information -->
                      <div class="col-md-6">
                        <div class="section-title">Personal Information</div>
                        <p><span class="info-label">Date of Birth:</span> 05/05/1997</p>
                        <p><span class="info-label">Gender:</span> Male</p>
                        <p><span class="info-label">Qualification:</span> Bachelors</p>
                        <p><span class="info-label">Institute Name:</span> Preston University ISB</p>
                        <p><span class="info-label">CNIC:</span> 33100-4556218-3</p>
                        <p><span class="info-label">Expiry Date:</span> 05/05/2028</p>
                        <p><span class="info-label">Marital Status:</span> Married</p>
                        <p><span class="info-label">Blood Group:</span> B+</p>
                      </div>
            
                      <!-- Official Information -->
                      <div class="col-md-6">
                        <div class="section-title">Official Information</div>
                        <p><span class="info-label">Employee ID:</span> 11252</p>
                        <p><span class="info-label">Official Email:</span> </p>
                        <p><span class="info-label">Date of Joining:</span> 11/13/2023</p>
                        <p><span class="info-label">Designation:</span> Early Years Coordinator</p>
                        <p><span class="info-label">Department:</span> Teaching</p>
                        <p><span class="info-label">Office:</span> BGS-Bagh</p>
                        <p><span class="info-label">Immediate Supervisor:</span> XYZ ABC</p>
                      </div>
                    </div>
            
                    <!-- Contact Information -->
                    <div class="row mt-4">
                      <div class="col-12">
                        <div class="section-title">Contact Information</div>
                        <p><span class="info-label">Mobile Phone:</span> 0315-1234567</p>
                        <p><span class="info-label">Personal Email:</span> </p>
                        <p><span class="info-label">Present Address:</span> Dummy Address, 11254, US</p>
                        <p><span class="info-label">City:</span> Florida</p>
                      </div>
                    </div>