/* .card.active {
    border: 2px solid #d4af37;
    background-color: #e6f0ff;
  }
  .submenu {
    list-style: none;     
    padding-left: 20px;  
    margin: 5px 0;
  }
  
  .submenu li {
    margin: 4px 0;
  }
  
  a.active {
    color: #d4af37;
    font-weight: bold;
  }
  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .sidebar a {
    cursor: pointer;
  }
   */